# Ignore virtual environment
venv/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore database and migrations
db.sqlite3
/migrations/

# Ignore editor and OS-specific files
.vscode/
.idea/
.DS_Store
